@tailwind base;
@tailwind components;
@tailwind utilities;

.main-button {
  @apply px-3 py-1 mt-2 font-bold text-center border-2 rounded-lg border-mostaza-200 bg-gradient-to-b from-red-400 to-red-500 text-crema-100 hover:border-mostaza-200 shadow-sm hover:from-red-300;
}

.secondary-button {
  @apply px-4 py-1 mt-4 font-bold text-center border-2 rounded-lg border-mostaza-300 bg-gradient-to-b from-mostaza-200 to-mostaza-300 text-black hover:border-mostaza-200 shadow-sm hover:from-white hover:to-mostaza-200
}

.blank-button {
	@apply px-4 py-1 mt-4 rounded border-mostaza-200 border-2 bg-crema-200 hover:bg-crema-100 shadow-sm font-bold
}

.main-list-item {
	@apply max-w-sm p-2 my-1 text-lg bg-white rounded border-2 cursor-pointer border-crema-300 hover:bg-white hover:border-mostaza-300 hover:shadow-sm
}

.add-panel-bg {
	@apply min-h-screen p-8 ml-8 bg-crema-125 border-mostaza-200 border-l-2 shadow-sm
}

.current-panel-bg {
	@apply p-8 ml-8 min-h-screen bg-white border-l-2 border-mostaza-300
}

.panel-inner-container {
	@apply flex flex-col max-w-md px-8 mx-auto
}

.calendar-day{
 @apply border-crema-200 py-4 px-2 border-2 border-solid bg-white hover:bg-white border-transparent hover:border-mostaza-300 cursor-pointer rounded hover:shadow-sm
}


.column-striped-active {
	background-color: #fffad6;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fcf1a1' fill-opacity='0.42' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.column-striped-inactive {
	background-color: #fffad6;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fffcec' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}


.std-input {
  @apply p-1 font-bold border-2 rounded bg-crema-100 border-mostaza-200 shadow-sm
}

.std-input-inner {
	@apply pr-4 appearance-none focus:bg-white bg-crema-100 font-bold  sm:text-lg
}

.meal-input {
  @apply p-1 text-lg border-2 rounded appearance-none bg-crema-100 border-mostaza-200 shadow-sm focus:bg-white
}


.calendar-item {
  @apply border-crema-200 py-4 px-2 border-2 border-solid bg-white hover:bg-white border-transparent hover:border-mostaza-300 cursor-pointer rounded hover:shadow-sm  
}
